@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;  /* (* universal selector: set this  because when you add any padding or border to an element it doesnt affect anything  */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* view port height */
  overflow: hidden; /* prevent scroll bar by default */
  margin: 0;
}
